@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv"><b>Мои презентации</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Влияние семейного воспитания на психологическое здоровье  ребёнка.ppt.pps" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Влияние семейного воспитания</div>
        <div> на психологическое здоровье  ребёнка.pps</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Влияние семейного воспитания на психологическое здоровье  ребёнка.ppt.pps" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Дети с синдромом дефицита внимания и гиперактивности.ppt.pps" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Дети с синдромом дефицита</div>
        <div>внимания и гиперактивности.pps</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Дети с синдромом дефицита внимания и гиперактивности.ppt.pps" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Использование сказкотерапии в работе  с детьми дошкольного  возраста.pptx" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Использование сказкотерапии</div>
        <div> в работе  с детьми дошкольного  возраста.pptx</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Использование сказкотерапии в работе  с детьми дошкольного  возраста.pptx" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Коррекция  повышенной тревожности у детей дошкольного возраста.ppt.pps" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Коррекция  повышенной тревожности</div>
        <div> у детей дошкольного возраста.pps</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Коррекция  повышенной тревожности у детей дошкольного возраста.ppt.pps" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Повышение  коммуникативной компетенции педагогов  в общениис родителями.ppt.pps" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Повышение  коммуникативной компетенции</div>
        <div> педагогов  в общениис родителями.pps</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Повышение  коммуникативной компетенции педагогов  в общениис родителями.ppt.pps" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Поощрения и наказания в семье.ppt.pps" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Поощрения и наказания </div>
        <div> в семье.pps</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Поощрения и наказания в семье.ppt.pps" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Профилактика  эмоционального  выгорания  педагогов.ppt.pps" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Профилактика  эмоционального</div>
        <div>  выгорания  педагогов.pps</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Профилактика  эмоционального  выгорания  педагогов.ppt.pps" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Психологическая  готовность к обучению  в школе.ppt.pps" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Психологическая  готовность</div>
        <div>к обучению  в школе.pps</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Психологическая  готовность к обучению  в школе.ppt.pps" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Мои презентации/Центры  социально - эмоц. развития в группах  детского  сада.ppt.pps" download>
                <img src="/TextPictures/IconPresent.png">
            </a>
        </div>
        <div>Центры  социально - эмоц. </div>
        <div>развития в группах  детского  сада.pps</div>
        <div>
            <a href="/TextDocuments/Мои презентации/Центры  социально - эмоц. развития в группах  детского  сада.ppt.pps" download>
                download
            </a>
        </div>
    </div>
    <p class="Maindiv"><img src="/TextPictures/PresentBot9.png"></p>
</div>
