@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv"><img src="/TextPictures/GalleryTop12.jpg"></p>
    <p class="Maindiv">Фотогалерея</p>
    <p class="Maindiv">
        28.10.2020 Психологическая гостиная для педагогов МБДОУ Детский сад № 20
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/1.1Психологич гостинная.jpg" width="350"> </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/1.2Психологич гостинная.jpg" width="350"> </p>
    <p class="Maindiv">
        03.10.2017 начал работу родительский клуб "Вместе!"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/2Родительский клуб вместе.jfif" width="350"> </p>
    <p class="Maindiv">
        25.01.2018 Семинар-тренинг для педагогов "Педагогическое выгорание"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/3.1Самовыгорание.jpg" width="350"> </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/3.2Самовыгорание.jpg" width="350"> </p>
    <p class="MainContent">
        18.04.2018 Городское методическое объединение для учителей - логопедов Советского
        района города Рязани "Взаимодействие специалистов ДОУ в коррекционной работе"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/4.1выступление логопедов.jfif" width="350"> </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/4.2выступление логопедов.jfif" width="350"> </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/4.3выступление логопедов.jfif" width="350"> </p>

    <p class="MainContent">
        25.04.2018 Круглый стол для педагогов "Как обучать ребенка правилам безопасности
        при помощи сказок и подвижных игр"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/5.1Круглый стол.jfif" width="350"> </p>
    <p class="MainContent">
        28.11.2018 Педагогический совет "В здоровом теле- здоровый дух!"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/6В здоровом теле.jfif" width="350"> </p>
    <p class="MainContent">
        24.01.2019 Школа молодого педагога в МБДОУ "Детский сад № 20"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/7Школа молодого педагога.jpg" width="350"> </p>
    <p class="MainContent">
        2.03.2019 Педсовет "Роль театрализованной деятельности в развитии речи ребенка"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/8Педсовет.jpg" width="350"> </p>
    <p class="MainContent">
        09.12.2019 "Ритмы музыки и речи"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/9Ритмы музыки.jpg" width="350"> </p>
    <p class="MainContent">
        02.12.2019 Развлечение "Путешествие со сказкой"
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/10.1Путешествие со сказкой.jpg" width="350"> </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/10.2Путешествие со сказкой.jpg" width="350"> </p>
    <p class="MainContent">
        Выступление на встрече творческого объединения "Профессионал" центра ППМС-помощи для
        педагогов-психологов и социальных педагогов школ и детских садов
    </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/11.1Выступление ППМС.jpg" width="350"> </p>
    <p class="Maindiv"><img src="~/TextDocuments/Фотогалерея/11.2Выступление ППМС.jpg" width="350"> </p>


    <p class="Maindiv"><img src="/TextPictures/GaleryBot12.png"></p>

</div>
