@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv">
        <b>Программно - методическое обеспечение психопрофилактической</b>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Аралова М.А.- Формирование колектива   ДОУ.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Аралова М.А. </div>
            <div>Формирование колектива   ДОУ.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Аралова М.А.- Формирование колектива   ДОУ.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/В. Л. Шарохина  - конспекты занятий с детьми  второй  младшей группы.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>В. Л. Шарохина </div>
            <div>Конспекты занятий с мл детьми.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/В. Л. Шарохина  - конспекты занятий с детьми  второй  младшей группы.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/В. Л. Шарохина  - конспекты занятий с детьми  средней группы.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>В. Л. Шарохина </div>
            <div>Конспекты занятий с ср. детьми.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/В. Л. Шарохина  - конспекты занятий с детьми  средней группы.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/В. Л. Шарохина  - конспекты занятий с детьми  старшей группы.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>В. Л. Шарохина </div>
            <div>Конспекты занятий с ст. детьми.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/В. Л. Шарохина  - конспекты занятий с детьми  старшей группы.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Крюкова С. В., Слободяник  Н.П.  -  Давайте жить дружно.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Крюкова С. В., Слободяник  Н.П.о</div>
            <div>Давайте жить дружно.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Крюкова С. В., Слободяник  Н.П.  -  Давайте жить дружно.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Крюкова С. В., Слободяник Н.П.  Удивляюсь, злюсь, боюсь, хвастаюсь и радуюсь..doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Крюкова С. В., Слободяник  Н.П.</div>
            <div>Удивляюсь, злюсь, хвастаюсь и радуюсь.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Крюкова С. В., Слободяник Н.П.  Удивляюсь, злюсь, боюсь, хвастаюсь и радуюсь..doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Кузуб Н.В., Осипук Э.И. - В гостях у песочной феи.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Кузуб Н.В., Осипук Э.И.</div>
            <div>В гостях у песочной феи.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Кузуб Н.В., Осипук Э.И. - В гостях у песочной феи.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Л. И. Катаева - конспекты занятий с детьми  подготовительной  группы.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Л. И. Катаева</div>
            <div>Конспекты занятий с детьми подг. гр.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Л. И. Катаева - конспекты занятий с детьми  подготовительной  группы.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Л.М. Костина - Программа по коррекции  тревожности  Я сам.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Л.М. Костина</div>
            <div>Я-сам.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Л.М. Костина - Программа по коррекции  тревожности  Я сам.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Л.М. Костина - Программа по коррекции тревожности  Само - чувствие.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Л.М. Костина</div>
            <div>Самочувствие.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Л.М. Костина - Программа по коррекции тревожности  Само - чувствие.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Маргарита Шевченко - Психологические рисуночные тесты.pdf" download>
                    <img src="/TextPictures/IconPDF.png">
                </a>
            </div>
            <div>Маргарита Шевченко</div>
            <div>Психологические рисуночные тесты.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Маргарита Шевченко - Психологические рисуночные тесты.pdf" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Методическая копилка/Метод обеспечение/Останкова Ю. В. Система коррекционно-развивающих занятий по подготовке детей к школе.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Останкова Ю. В</div>
            <div>Cистема коррекционно-развивающих занятий.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Останкова Ю. В. Система коррекционно-развивающих занятий по подготовке детей к школе.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Хухлаева О.В.-Лабиринт души (терапевтические сказки).doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Хулаева О.В.</div>
            <div>Лабиринт души.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Хухлаева О.В.-Лабиринт души (терапевтические сказки).doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Широкова Г.А. - Справочник дошкольного психолога.doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Широкова Г.А.</div>
            <div>Справочник дошкольного психолога.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Широкова Г.А. - Справочник дошкольного психолога.doc" download>
                    download
                </a>
            </div>
        </div>
        <div class="divMainDoc">
            <div class="divSrcDocumentRef">
                <a href="/TextDocuments/Метод обеспечение/Шитова Е.В. - Работа с родителями (рекомендации и консультации дети 2-7 лет).doc" download>
                    <img src="/TextPictures/IconDoc.png">
                </a>
            </div>
            <div>Шитова Е.В.</div>
            <div>Работа с родителями.doc</div>
            <div>
                <a href="/TextDocuments/Метод обеспечение/Шитова Е.В. - Работа с родителями (рекомендации и консультации дети 2-7 лет).doc" download>
                    download
                </a>
            </div>
        </div>
    <p class="Maindiv"><img src="/TextPictures/PMbot6.jpg"><p>
</div>

