@{
    Layout = "_Layout";
}


<div id="AllContentStyle">
    <div align="center" style="padding-top:30px"><img src="/TextPictures/WelcomeMessage.gif"></div>
    <div align="center" style="padding-top:30px"><img src="/TextPictures/WelcomeImageOV.jpg"></div>
    <p align="Center"><b>Краткие сведения о себе:</b></p>
    <p align="Center"><b>Мальцева Ольга Валерьевна</b></p>
    <p><b>Образование:</b> высшее  (Рязанский государственный университет имени С.А. Есенина)</p>
    <p><b>Присуждена квалификация:</b> педагог - психолог, преподаватель дошкольной педагогики и  психологии</p>
    <p><b>Педагогический  стаж -</b> 20 лет,<b> стаж работы  психологом</b> – 9 лет</p>
    <p><b>Квалификационная категория:</b> высшая</p>
    <p>
        <b>Цель моей работы в образовательном учреждении –</b> способствовать
        благоприятному психологическому климату в ДОУ, сохранение психологического здоровья
        педагогов и детей.В  рамках поставленных задач  я занимаюсь психологическим сопровождением
        воспитательно - образовательного процесса, поддержкой в решении  возникающих проблем, связанных
        с воспитанием, развитием, общением, которое включает  в себя работу со всеми участниками
        образовательного процесса: это родители, дети, педагоги, администрация  ДОУ.
    </p>
    <p><b>Осуществляю работу по следующим направлениям  деятельности:</b></p>

    <p align="justify">
        <b>
            1. Психологическое просвещение
        </b>	(повышение  психологической
        культуры педагогов и родителей,  формирование  потребности в
        психологических знаниях, желание их использовать  в интересах ребёнка
        и собственного развития, обеспечение  информацией  по психологическим проблемам).
    <p align="justify">
        <b>2. Психологическая профилактика</b>
        (целенаправленная систематическая работа по
        предупреждению возможного  неблагополучия в психическом и личностном развитии
        детей, работа по созданию  благоприятного эмоционально – психологического  климата)
    </p>
    <p align="justify">
        <b>3. Психологическая диагностика </b>
        (получение своевременной информации об индивидуально
        - психологических особенностях детей, соответствии развития возрастным нормам, динамике
        процесса развития, выявлении возможностей, способностей и склонностей детей, определении
        причин нарушений в обучении, поведении и развитии дошкольников)
    </p>
    <p align="justify">
        <b>4. Психологическая коррекция</b>
        (работа с детьми, отнесёнными к категории «группы риска»,
        направленная на специфическую помощь  этим детям)
    </p>
    <p align="justify">
        <b>5. Психологическое консультирование</b>
        (консультационная работа с родителями и педагогами
        по вопросам развития и воспитания детей дошкольного возраста, оказание конкретной помощи
        в анализе и решении психологических проблем, связанных с собственными особенностями,
        взаимоотношениями  в семье и т.д.)
    </p>
    <p align="Center"><b>Мое  психологическое кредо: СООТВЕТСТВОВАТЬ!</b></p>
    <p align="Center"><b>Соответствовать ожиданиям людей, с которыми я работаю,</b></p>
    <p align="Center"><b>требованиям времени, статусу  профессии - психолог</b></p>
    <div align="center"><img src="/TextPictures/WelcomeFootage.jpg"></div>
</div>