
@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv"><img src="TextPictures/WelcomeTop.gif"></p>
    <p class="Maindiv"><img src="TextPictures/MainFotoOV.jpg"></p>
    <p class="poem">
        <br><strong> Горжусь профессией своей</strong>
        <br><strong>За то, что душу человека согреваю,</strong>
        <br><strong>И детство вместе с ними проживаю.</strong>
        <br><strong>Пусть отступают все сомненья прочь,</strong>
        <br><strong>Уходят пусть тревога и забота.</strong>
        <br><strong>Кусочек сердца людям отдавать,</strong>
        <br><strong>Такая у психолога работа!</strong>
    </p>
    <p>
    <p class="MainDiv">
        <br><strong>Здравствуйте,</strong>
        <br><strong>уважаемые коллеги, родители и гости сайта!</strong>
        <br><strong>педагог-психолог</strong>
        <br><strong><span style="color:green; font-family:'Monotype Corsiva';font-size:25px;">Мальцева Ольга Валерьевна</span></strong>
        <br><strong>приветствует Вас на своём  сайте!</strong>
    </p>

    <p class="ContentText">
        Персональный сайт — это возможность рассказать о
        себе, поделиться опытом работы с коллегами,создать
        современный способ оказания психолого-педагогической
        помощи и поддержки всем участникам образовательного
        процесса.
    </p>
    <p class="ContentText">
        На сайте размещена полезная информация для
        педагогов, родителей, которые познакомятся с различными
        рекомендациями по воспитанию и развитию детей.
    </p>
    <p class="ContentText">
        Этот сайт будет полезен и интересен коллегам, так  как
        здесь подобран методический материал из  опыта   работы.
        Давайте познавать бесконечные возможности и становиться
        более успешными в жизни и профессии.
    </p>
    <p class="ContentText">
        Со всеми разделами  этого  ресурса
        можно познакомиться, используя меню слева.
        Желаю приятного и полезного виртуального
        путешествия по страницам сайта!
    </p>
    <div align="Center"><img src="TextPictures/WelcomeBot.gif"></div>
</div>
