@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv"><img src="/TextPictures/HelpParentsTop8.jpg"></p>
    <p class="Maindiv"><b>Заботливым родителям!</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Если ваш ребёнок застенчив.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Если ваш ребёнок</div>
        <div> застенчив.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Если ваш ребёнок застенчив.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Индивидуальный подход к детям с разными типами темперамента.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Индивидуальный подход</div>
        <div> к детям.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Индивидуальный подход к детям с разными типами темперамента.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Как  быть со страхами у детей.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Как быть со страхами</div>
        <div> у детей.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Как  быть со страхами у детей.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Кризисы  дошкольного  возраста.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Кризисы  дошкольного</div>
        <div>возраста.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Кризисы  дошкольного  возраста.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Негативное влияние СМИ на развитие детей.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Негативное влияние СМИ</div>
        <div>на развитие детей.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Негативное влияние СМИ на развитие детей.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Онанизм у маленького ребенка. Что делать.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Онанизм у маленького ребенка</div>
        <div>.Что делать.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Онанизм у маленького ребенка. Что делать.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Психологические особенности детей дошкольного  возраста.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Психологические особенности</div>
        <div>. детей дошкольного  возраста.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Психологические особенности детей дошкольного  возраста.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Психологические сказки.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Психологические</div>
        <div>.сказки.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Психологические сказки.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Самооценка ребенка. Что это такое.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Самооценка ребенка.</div>
        <div> Что это такое.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Самооценка ребенка. Что это такое.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Тревожный  ребёнок. Как  ему помочь.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тревожный  ребёнок.</div>
        <div> Как  ему помочь.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Тревожный  ребёнок. Как  ему помочь.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Я - не жадина. Как помочь ребёнку  научиться  делиться.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Я - не жадина.</div>
        <div> Научить делиться.doc</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Я - не жадина. Как помочь ребёнку  научиться  делиться.doc" download>
                download
            </a>
        </div>
    </div>
    <p class="Maindiv"><img src="/TextPictures/HelpParentsMid8.gif"></p>
    <p class="Maindiv"><b>Видео советы психолога</b></p>
    <p class="ComtentText">
        <b>Детские эмоции и психосоматика (консультация психолога)</b>
        -информация для родителей о психосоматических причинах детских болезней
    </p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/BbN9lMuYCLk" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="ComtentText">
        <b>Почему стыдить ребёнка вредно? (видео-обучение)</b>
        -Почему так часто педагоги и родители используется стыд в воспитании ребенка?
        Потому что стыд – сильное чувство, которое позволяет родителям манипулировать детьми.
        В этот момент необходимо осознавать, что мы не пытаемся что-то донести до него, показать
        ему что-то, открыть ему глаза. А вот что на самом деле происходит,
        вам и поможет разобраться психолог.
    </p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/bJo7gMU4LJE" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="ComtentText">
        <b>Детские страхи (видео – совет психолога)</b>
        Из-за чего у вашего ребенка возникает чувство страха? Может, он боится
        темноты, Бабы Яги в шкафу, чудовищ под кроватью или собак? Детские страхи
        – довольно распространенная проблема детских психологов и мам. Советую
        вам  посмотреть видео совет психолога «Детские страхи – как бороться»,
        благодаря которому вы сможете найти способы скорректировать страхи,
        беспокоящие вашего ребенка и сделать его и вашу жизнь яркой, веселой,
        лишенной страхов и переживаний.
    </p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/xmPGzNRW6wQ" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="ComtentText">
        <b>«Как избежать причин плохого поведения ребенка?» (видео-совет психолога)</b>
        «Как избежать причин плохого поведения ребенка?» – это замечательный онлайн совет психолога, в котором
        вы узнаете, как с детства между родителями и детьми выстраиваются доверительные отношения. Рассказывает
        об этом Анна Арутюнян – психолог-консультант. Вы также узнаете, как построить дружеские отношения
        с ребенком, предотвратить его плохое поведение и как отреагировать на детские капризы. Вы можете стать
        другом своему ребенку, если правильно построите ваши отношения.
    </p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/nugc8F6gMJg" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="ComtentText">
        <b>«Вредные привычки детей (видео - совет психолога) </b>
        Откуда же берутся все вредные привычки детей и как с ними бороться? Или просто
        не обращать на них внимания? В видео совете психолога «Вредные привычки детей»
        на ваши вопросы отвечает Елена Евгеньевна – детский и семейный практический психолог,
        Кандидат психологических наук, доцент кафедры психологии и педагогики семьи Института
        детства. Вы узнаете, что вредные привычки – это отрицательная склонность, выражающаяся
        в действиях, которая нередко превращается в черту характера.
    </p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/9BJ2u93DjPw" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="ComtentText">
        <b>Психологическая готовность к школе</b>
        - предлагаю Вашему вниманию, уважаемые родители, прослушать и
        просмотреть рассказ психолога С.В. Тимофеевой о психологической
        готовности к школе. Постарайтесь прислушаться и применить в домашних
        условиях.
    </p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/t9aYIbNA5Hk" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="Maindiv"><b>Поучительные аудио - сказки для дошкольников</b></p>
    <p class="ComtentText">
        Сказка - лучший способ привить ребёнку хорошие черты характера и правильную модель
        поведения  без нотаций, ведь интересную историю ребёнок готов слушать всегда!
        Малыш проецирует на себя черты персонажей сказки и на примере видит, почему доброта,
        смекалка, воля важны в жизни. Дети слушают сказки и как бы смотрят на свои проблемы
        со стороны, ведь сказка подсказывает им то или иное оптимальное решение. Сказка
        ненавязчиво исцеляет  каприз, решает ту или иную проблемную ситуацию. Надеюсь,
        предложенные аудио- сказки помогут вам занять вашего ребёнка и помочь в решении
        имеющихся проблем.
    </p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Как  Ильюша  животик  кормил.mp3" download="кормил.mp3">
                <img src="/TextPictures/IconMP3.png">
            </a>
        </div>
        <div>Как  Илюша  животик</div>
        <div>кормил.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Как  Ильюша  животик  кормил.mp3 " download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Как Костя стал умываться.mp3" download>
                <img src="/TextPictures/IconMP3.png">
            </a>
        </div>
        <div>Как Костя</div>
        <div>стал умываться.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Как Костя стал умываться.mp3 " download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Поцелуй  Хотелки.mp3" download>
                <img src="/TextPictures/IconMP3.png">
            </a>
        </div>
        <div>Поцелуй</div>
        <div> Хотелки.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Поцелуй  Хотелки.mp3 " download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Прилипчивый  телевизор.mp3" download>
                <img src="/TextPictures/IconMP3.png">
            </a>
        </div>
        <div>Прилипчивый</div>
        <div>телевизор.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Прилипчивый  телевизор.mp3 " download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Прилипчивый  телевизор.mp3" download>
                <img src="/TextPictures/IconMP3.png">
            </a>
        </div>
        <div>Прилипчивый</div>
        <div>телевизор.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Прилипчивый  телевизор.mp3 " download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Сказка  про  смелого  Алешу.mp3" download>
                <img src="/TextPictures/IconMP3.png">
            </a>
        </div>
        <div>Сказка  про</div>
        <div>смелого  Алешу.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Сказка  про  смелого  Алешу.mp3 " download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Сказка  про маленькую тучку.mp3" download>
                <img src="/TextPictures/IconMP3.png">
            </a>
        </div>
        <div>Сказка  про</div>
        <div>маленькую тучку.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Сказка  про маленькую тучку.mp3 " download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/Сказка  про страну  Нерях.mp3" download>
                <img src="/TextPictures/IconMP3.png">
            </a>
        </div>
        <div>Сказка  про</div>
        <div>страну  Нерях.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/Сказка  про страну  Нерях.mp3 " download>
                download
            </a>
        </div>
    </div>
    <p class="Maindiv"><img src="/TextPictures/HelpParentsBot8.jpg"></p>
    <p class="Maindiv"><b>Я. Корчак "Как любить ребенка</b></p>
    <p class="ContentText">
        Одна из лучших книг, которую нужно прочитать каждой маме.
        Книга написана в форме доверительного разговора с молодой
        матерью, в котором  автор настраивает более вдумчиво и внимательно
        всмотреться в своего ребенка.
    </p>

    <p class="Maindiv"><b>Ю. Б. Гиппенрейтер "Общаться с ребенком. Как?"</b></p>
    <p class="ContentText">
        Как построить отношения с ребенком? Как заставить его слушаться? Можно ли
        поправить отношения, если они зашли в тупик? Вы найдете ответы на эти и другие
        вопросы, узнаете, как решать их на практике в вашей жизни
    </p>

    <p class="Maindiv"><b>Ю. Б. Гиппенрейтер "Продолжаем общаться с ребенком. Так?"</b></p>
    <p class="ContentText">
        Продолжение предыдущей книги автора «Общаться с ребенком. Как?» В новой книге
        обсуждаются многочисленные вопросы воспитания детей, которые волнуют родителей:
        «Как его воспитывать? Как приучать к дисциплине? Как наказывать? Как заставить его
        хорошо учиться?» Разбираются и объясняются новые важные подробности и приемы искусства
        эффективного общения.
    </p>

    <p class="Maindiv"><b>Ле Шан Эда "Когда ребенок сводит вас с ума"</b></p>
    <p class="ContentText">
        Эда Ле Шан — психолог, мама и бабушка, мудрый и чуткий специалист - анализирует
        типичные конфликтные ситуации, возникающие практически в каждой семье, помогает
        родителям точно и быстро установить причины негативного поведения ребенка. После
        прочтения этой книги родители смотрят на своих детей другими глазами, приходят к
        осознанию самого смысла родительского воспитания. Это книга - бестселлер для родителей.
    </p>

    <p class="Maindiv"><b>Некрасова З. и Некрасова Н. </b></p>
    <p class="Maindiv"><b>"Перестаньте детей воспитывать - помогите им расти" </b></p>
    <p class="ContentText">
        Книга - голос в защиту родителей, замученных бесконечными советами, чувством долга,
        отсутствием времени и сил на "воспитание". Родители тоже люди, никто не хочет быть злым,
        раздраженным, виноватым в не сложившихся отношениях. Авторы предлагают оставить само понятие
        "воспитание" и начать дружить со своим ребенком, понимать его, дышать им, просто любить.
        В книге вы найдете много интересных тестов, игр и стихов.
    </p>

    <p class="Maindiv"><b>М. Андреева  «100 секретов воспитания детей» </b></p>
    <p class="ContentText">
        Быть мамой - занятие не простое, но самое приятное в мире. Воспользовавшись
        советами этой книги, вы сможете стать для своих малышей самой лучшей мамой на свете.
        Книга с советами для молодых мам. В книге даны советы не только по воспитанию. Очень
        много полезных советов, чтобы быть здоровой, радостной и счастливой мамой.
    </p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Помощь родителям/М. Андреева, 100 секретов воспитания детей.pdf" download target="_blank">
                <img src="/TextPictures/IconPDF.png">
            </a>
        </div>
        <div>М. Андреева, 100 секретов </div>
        <div>воспитания детей.mp3</div>
        <div>
            <a href="/TextDocuments/Помощь родителям/М. Андреева, 100 секретов воспитания детей.pdf" download target="_blank">
                download
            </a>
        </div>
    </div>

    <p class="Maindiv"><b> "Как воспитывать родителей или новый нестандартный ребёнок"</b></p>
    <p class="ContentText">
        Книга написана известным  писателем и психотерапевтом Владимиром Леви.
        Как сохранить однажды дарованное родительское счастье? Как не потерять
        духовную связь со своим собственным ребенком, не отдалиться от него,
        не взрастить стену непонимания и отчужденности.
    </p>

    <p class="ContentText">
        <b>
            Уважаемые родители, вашему вниманию предлагаются ссылки, которые помогут
            провести время с вашим ребёнком, в поиске идей для совместных дел:
        </b>
    </p>
    <p class="ContentText">
        - Если вы хотите поиграть c ребёнком в подвижные игры:
    </p>
    <p class="ContentText">
        <a href="https://daynotes.ru/podvignie_igri_dlya_detey_v_pomeshenii/" target="_blank">
            https://daynotes.ru/podvignie_igri_dlya_detey_v_pomeshenii/
        </a>
    </p>
    <p class="ContentText">
        - Если вы хотите порисовать с ребенком:
    </p>
    <p class="ContentText">
        <a href="http://risuemdoma.com/video" target="_blank">
            http://risuemdoma.com/video
        </a>
    </p>
    <p class="ContentText">
        - Если вы хотите почитать интересные книжки:
    </p>
    <p class="ContentText">
        <a href="https://mishka-knizhka.ru/skazki-dlay-detey/" target="_blank">
            https://mishka-knizhka.ru/skazki-dlay-detey/
        </a>
    </p>
    <p class="ContentText">
        - Если вы хотите вместе послушать аудиокниги:
    </p>
    <p class="ContentText">
        <a href="https://deti-online.com/audioskazki" target="_blank">
            https://deti-online.com/audioskazki/
        </a>
    </p>
    <p class="ContentText">
        - Если вы хотите сделать игрушку своими руками из подручных средств:
    </p>
    <p class="ContentText">
        <a href="https://www.adme.ru/svoboda-sdelaj-sam/11-klassnyh-igrushek-kotorye-vy-mozhete-izgotovit-s-detmi-pryamo-sejchas-1411465/" target="_blank">
            https://www.adme.ru/svoboda-sdelaj-sam/11-klassnyh-igrushek-kotorye-vy-mozhete-izgotovit-s-detmi-pryamo-sejchas-1411465/
        </a>
    </p>
    <p class="ContentText">
        <a href="https://www.passion.ru/mama/obuchenie-i-razvitie-detey/sdelay-sam-7-interesnyh-igrushek-iz-podruchnyh-sredstv-154972.htm" target="_blank">
            https://www.passion.ru/mama/obuchenie-i-razvitie-detey/sdelay-sam-7-interesnyh-igrushek-iz-podruchnyh-sredstv-154972.htm
        </a>
    </p>
    <p class="ContentText">
        <a href="https://www.uaua.info/ot-1-do-3/razvitie-ot-1-do-3/news-44782-chem-zanyat-detey-doma-razvivayuschie-igry-dlya-malyshey-svoimi-rukami/" target="_blank">
            https://www.uaua.info/ot-1-do-3/razvitie-ot-1-do-3/news-44782-chem-zanyat-detey-doma-razvivayuschie-igry-dlya-malyshey-svoimi-rukami/
        </a>
    </p>
    <p class="ContentText">
        - Если вы хотите построить необычные постройки:
    </p>
    <p class="ContentText">
        <a href="https://razvivash-ka.ru/detskij-konstruktor-svoimi-rukami/" target="_blank">
            https://razvivash-ka.ru/detskij-konstruktor-svoimi-rukami/
        </a>
    </p>
    <p class="ContentText">
        - Если вы хотите приготовить вместе что-то вкусненькое:
    <p class="ContentText">
        <a href="https://www.passion.ru/food/sostavlyaem-menyu/9-blyud-kotorye-legko-prigotovit-vmeste-s-rebenkom-153812.htm " target="_blank">
            https://www.passion.ru/food/sostavlyaem-menyu/9-blyud-kotorye-legko-prigotovit-vmeste-s-rebenkom-153812.htm
        </a>
    </p>
    <p class="ContentText">
        - Если вы хотите, вместе заняться спортом:
    </p>
    <p class="ContentText">
        <a href="https://youtu.be/eIqGGK3becA " target="_blank">
            https://youtu.be/eIqGGK3becA
        </a>
    </p>
    <p class="ContentText">
        - Если вы хотите сделать аппликацию:
    </p>
    <p class="ContentText">
        <a href="http://rodnaya-tropinka.ru/masterim-s-detmi-svoimi-rukami/applikatsiya-s-detmi/" target="_blank">
            http://rodnaya-tropinka.ru/masterim-s-detmi-svoimi-rukami/applikatsiya-s-detmi/
        </a>
    </p>
    <p class="ContentText">
        <a href="https://tytmaster.ru/podelki-applikacii/" target="_blank">
            https://tytmaster.ru/podelki-applikacii/
        </a>
    </p>

    <p class="ContentText">
        - Если вы хотите что-то слепить из пластилина:
    </p>
    <p class="ContentText">
        <a href="http://ihappymama.ru/poshagovyj-master-klass-po-lepke-lepim-milyh-zhivotnyh/" target="_blank">
            hhttp://ihappymama.ru/poshagovyj-master-klass-po-lepke-lepim-milyh-zhivotnyh/
        </a>
    </p>
    <p class="ContentText">
        <a href="https://www.colady.ru/15-luchshix-uprazhnenij-dlya-rebenka-shkolnika-7-10-let-v-domashnix-usloviyax.html" target="_blank">
            https://www.colady.ru/15-luchshix-uprazhnenij-dlya-rebenka-shkolnika-7-10-let-v-domashnix-usloviyax.html
        </a>
    </p>
</div>
