@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <div class="Maindiv">
        <img src="/TextPictures/Нормдок Старт.jpg">
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Конвенция о правах ребёнка.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Конвенция о правах</div>
        <div>ребёнка.doc	</div>
        <div><a href="/TextDocuments/Конвенция о правах ребёнка.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Приказ о службе практической психологии в системе министерства образования РФ.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Приказ о службе </div>
        <div>практической психологии.doc</div>
        <div><a href="/TextDocuments/Приказ о службе практической психологии в системе министерства образования РФ.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Должностная инструкция  педагога - психолога.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Должностная инструкция </div>
        <div>педагога - психолога.doc</div>
        <div><a href="/TextDocuments/Должностная инструкция  педагога - психолога.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Закон об основных гарантиях прав ребёнка.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Закон об основных гарантиях</div>
        <div>прав ребёнка.doc</div>
        <div><a href="/TextDocuments/Закон об основных гарантиях прав ребёнка.doc">download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Извлечение из ФЗ  РФ об образовании.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Извлечение из ФЗ  РФ </div>
        <div>об образовании.doc</div>
        <div><a href="/TextDocuments/Извлечение из ФЗ  РФ об образовании.doc">download</a></div>
    </div>

    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/О введении должности психолога в учреждениях   народного образования.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Введение должности психолога</div>
        <div> в учреждениях образования.doc</div>
        <div><a href="/TextDocuments/О введении должности психолога в учреждениях   народного образования.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/О практике проведения диагностики развития ребёнка в системе дошкольного  образования.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>О практике проведения диагностики</div>
        <div> развития ребёнка.doc</div>
        <div><a href="/TextDocuments/О практике проведения диагностики развития ребёнка в системе дошкольного  образования.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/О преемственности дошкольного и начального общего образования.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>О преемственности дошкольного</div>
        <div>общего образования.doc</div>
        <div><a href="/TextDocuments/О преемственности дошкольного и начального общего образования.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/О состоянии и перспективах развития службы практической психологии  образования РФ.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>О состоянии</div>
        <div> службы психологии РФ.doc"</div>
        <div><a href="/TextDocuments/О состоянии и перспективах развития службы практической психологии  образования РФ.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Об использовании  рабочего времени педагога - психолога ОУ.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Об использовании  рабочего времени</div>
        <div> педагога - психолога ОУ.doc</div>
        <div><a href="/TextDocuments/Об использовании  рабочего времени педагога - психолога ОУ.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Об педагогах - психологах и учителях - логопедах  учреждений  образования.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Об педагогах - психологах</div>
        <div> и учителях - логопедах.doc</div>
        <div><a href="/TextDocuments/Об педагогах - психологах и учителях - логопедах  учреждений  образования.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Письмо Минобразования РФ - О подготовке детей к школе.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>О подготовке детей</div>
        <div>  к школе.doc</div>
        <div><a href="/TextDocuments/Письмо Минобразования РФ - О подготовке детей к школе.doc" download>download</a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Приказ о порядке  аттестации педагогических работников.doc" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Приказ о порядке  аттестации</div>
        <div> педагогических работников.doc</div>
        <div><a href="/TextDocuments/Приказ о порядке  аттестации педагогических работников.doc" download>download</a></div>
    </div>

    <div class="Maindiv">
        <img src="/TextPictures/Нормдок база.png">
    </div>

    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/ФГОС ДО (проект).pdf" download><img src="/TextPictures/IconPDF.png"></a>
        </div>
        <div>ФГОС ДО </div>
        <div> (проект).pdf</div>
        <div><a href="/TextDocuments/ФГОС ДО (проект).pdf" download> download </a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="TextDocuments/Работа педагога-психологаДОУ в эпоху новых стандартов.docx" download><img src="/TextPictures/IconDoc.png"></a>
        </div>
        <div>Работа педагога-психологаДОУ</div>
        <div> в эпоху новых стандартов.docx</div>
        <div><a href="TextDocuments/Работа педагога-психологаДОУ в эпоху новых стандартов.docx" download> download </a></div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="TextDocuments/Приказ  Об утверждении профессионального стандарта педагога-психолога .pdf" download><img src="/TextPictures/IconPDF.png"></a>
        </div>
        <div> Об утверждении стандарта</div>
        <div> педагога-психолога .pdf</div>
        <div><a href="TextDocuments/Приказ  Об утверждении профессионального стандарта педагога-психолога .pdf" download> download </a></div>
    </div>
    <div class="Maindiv">
        <img src="/TextPictures/Работа педагога.png">
    </div>
</div>

