@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv"><img src="/TextPictures/HelpfulSitesTop10.gif"></p>
    <p class="Maindiv"><b>Полезные ссылки для педагогов ДОУ</b></p>

    <p class="ComtentText">
        <a href="https://adalin.mospsy.ru/l_01a_00.shtml" target="_blank">Психологический  центр "Адалин"</a>
        - большое количество развивающих игр коррекционные методики, тесты для детей.
    </p>
    <p class="ComtentText">
        <a href="https://doshvozrast.ru/" target="_blank">Воспитание  детей дошкольного возраста в детском саду</a>
        - конспекты занятий, консультации для воспитателей детских садов, рекомендации по воспитанию детей, сценарии праздников,
        дидактические игры, подвижные и сюжетно-ролевые игры для детей.
    </p>
    <p class="ComtentText">
        <a href="https://urok.1sept.ru/" target="_blank">Фестиваль педагогических идей "Открытый  урок"</a>
        -  конспекты на данном сайте представлены  конспекты непосредственной образовательной деятельности с детьми.
    </p>
    <p class="ComtentText">
        <a href="http://lutiksol.narod.ru/" target="_blank">Мультимедиа для дошколят</a>
        - большое количество мультимедийных  презентаций для дошкольников
    </p>
    <p class="ComtentText">
        <a href="https://pedsovet.org/beta" target="_blank">Педсовет</a>
        - на форумах даннго сайта  в течение  года  идут обсуждения педагогических тем.
        На сайте можно найти  методические материалы, условия проводящихся конкурсов.
    </p>
    <p class="Maindiv"><br><br><b>Психологические сайты для родителей</b><br><br></p>
    <p class="ComtentText">
        <a href="http://www.r-vmeste.ru/" target="_blank">Родительский  клуб "Растим вместе!"</a>
        - присоединяйтесь к родительскому клубу "Растим вместе" На сайте есть статьи детского психолога
        для родителей, консультирование  в виде ответов на вопросы, фото, форум и т.д.
    </p>
    <p class="ComtentText">
        <a href="https://roditeli.ua/" target="_blank">Азбука  для  родителей </a>
        -    этот сайт для мам и пап! Материнство или отцовство- важнейшая часть  жизни каждого человека.
        Как подготовится  подготовиться к ответсвенному событию - рождению малыша? Как  воспитывать  подрастающего  кроху?
    </p>
    <p class="ComtentText">
        <a href="http://www.bayushki.ru/" target="_blank"> Баюшки.ру</a>
        сайт посвящён вопросам  нарушения сна ребенка. Детский энурез глазами психолога. Советы как
        уложить малыша спать, как выбрать и где расположить детскую кроватку, когда и как ребенка приучить
        спать одного, сколько должен спать ребенок в разном возрасте. А также: Вредно ли укачивание? Библиотека
        колыбельных и сказок: тексты и MP3.
    </p>
    <p class="ComtentText">
        <a href="https://www.7ya.ru/" target="_blank"> 7я.ру</a>
        - информационный  проект по семейным вопросам: воспитание детей, образование,
        отдых, семейные отношения. На сайте работают тематические конференции, ежедневно
        публикуются статьи.
    </p>
    <p class="ComtentText">
        <a href="http://adhd-kids.narod.ru/" target="_blank">Сайт  и форум родителей с СДВГ</a>
        - наши невнимательные гиперактивные дети. Международный русскоязычный сайт и форум для родителей
        детей с СДВГ - синдромом  дефицита внимания с гиперактивностью
    </p>

    <p class="Maindiv"><b>Полезные сайты для педагогов - психологов</b></p>
    <p class="ComtentText">
        <a href="https://www.imaton.ru/" target="_blank">Институт практической психологии "Иматон"</a>
        -  комплексное обеспечение психологической практики. Семинары и тренинги, дополнительное образование,
        дистанционное обучение.
    </p>
    <p class="ComtentText">
        <a href="http://childpsy.ru/" target="_blank">Детская психология для специалистов</a>
        - статьи, книги, методические пособия и исследования  по отраслям возрастной и детской психологии.
    </p>
    <p class="ComtentText">
        <a href="http://childpsy.ru/" target="_blank">"Психологический практикум</a>
        - методики, тесты,опросники, бланки, анкеты
    </p>
    <p class="ComtentText">
        <a href="https://psyjournal.ru/" target="_blank">Журнал практической психологии и  психоанализа</a>
        - публикации по психологическому консультированию, психотерапии и психоанализу
    </p>
    <p class="ComtentText">
        <a href="http://www.voppsy.ru/" target="_blank">Вопросы  психологии</a>
        - на сайте представлены статьи российских и зарубежных психологов.
    <p class="ComtentText">
        <a href="https://psyjournals.ru/kip/" target="_blank">Культурно-историческая психология</a>
        - периодическое специализированное научное издание для психологов.
        Журнал рекомендован Высшей аттестационной комиссией (ВАК) Министерства образования РФ
        в перечне ведущих научных журналов и изданий для публикации научных результатов диссертационных
        исследований.
    </p>
    <p class="ComtentText">
        <a href="http://psychology.net.ru/" target="_blank">Мир  психологии</a>
        - новости психологии, тренинги, семинары, психологические тесты, психологический форум, библиотека,
        психологический клуб,  коллекция рефератов.
    </p>
    <p class="ComtentText">
        <a href="https://psy.1sept.ru/" target="_blank">Журнал  "Школьный  психолог"</a>
        -  адресован практическим психологам образования.
    </p>
    <p class="ComtentText">
        <a href="https://www.psychology-online.net/" target="_blank">Научная и популярная психология: история, теория, практика</a>
        -психологическая библиотека оригинальных текстов по общей, возрастной и социальной психологии.
        Научная и популярная  литература по психологии. Справочные  материалы.
    </p>
    <p class="ComtentText">
        <a href="https://www.psy.su/" target="_blank">Психологическая  газета</a>
        - Всероссийское Интернет-издание для психологов. Большой выбор диагностического инструментария,
        статьи, большая элетронная библиотека по психологии и т.д.
    </p>
    <p class="Maindiv"><img src="/TextPictures/HelpfulSitesBot10.png"></p>

</div>
