@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv"><img src="/TextPictures/KidsPageTop11.gif"></p>
    <p class="Maindiv">Детская страничка</p>
    <p class="Maindiv"><img src="/TextPictures/KidsPageMid11.jpg"></p>
    <p class="ContentText">
        Уважаемые родители и ребята, добро пожаловать в раздел
        "Детская страничка", где Вы найдете для себя много полезного и интересного...
    </p>
    <p class="GreenColor">
        <b>Детские компьютерные игры,</b>  позволяющие  развивать у
        ребенка логическое мышление, память, внимание, наблюдательность, помогут
        выучить буквы и цифры, детские  сказки, мультфильмы
    </p>
    <p class="WebStyle">
        <a href="https://solnet.ee/games/g3" target="_blank" style="color: blue">
            Детский  портал "Солнышко" – развивающие игры и упражнения для детей дошкольного возраста.
        </a>
    </p>
    <p class="WebStyle">
        <a href="http://www.teremoc.ru/" target="_blank" style="color: black">
            Теремок – игры, загадки, раскраски, мультфильмы для детей..
        </a>
    </p>
    <p class="WebStyle">
        <a href="https://www.igraemsa.ru/" target="_blank" style="color: red">
            Играемся – сайт для детей,  где  представлены игры для малышей,  игры на развитие
            внимания, памяти, мышления, раскраски, пазлы, загадки и ребусы.
        </a>
    </p>
    <p class="WebStyle">
        <a href="https://pochemu4ka.ru/" target="_blank" style="color: green">
            ПочемуЧка – сайт для  детей и их родителей – большое количество развивающих игр, статьи,
            советы психолога, форум для родителей
        </a>
    </p>
    <p class="WebStyle">
        <a href="http://www.detskiy-mir.net/" target="_blank" style="color: grey">
            Детский мир - развивающие игры, раскраски, ребусворды и другие  материалы для развития детей.
        </a>
    </p>
    <p class="WebStyle">
        <a href="http://www.baby-news.net/paint2/" target="_blank" style="color: green">
            BABY  NEWS – большой выбор детских стихов, художественных произведений, аудио – сказок,
            кроссворды, лабиринты, развивающие игры онлайн.
        </a>
    </p>
    <p class="WebStyle">
        <a href="http://tests.kulichki.com/golovolomki/" target="_blank" style="color: blue">
            Раскраски, ребусы,кроссворды,  лабиринты, задачи на внимательность, детская математика
        </a>
    </p>
    <p class="WebStyle">
        <a href="https://ped-kopilka.ru/igry-konkursy-razvlechenija/razvivayuschie-igry-dlja-doshkolnikov" target="_blank" style="color: red">
            Развивающие  игры для дошкольников - игры на развитие познавательных процессов, мелкой моторики
        </a>
    </p>
    <p class="WebStyle">
        <a href="http://www.razvitierebenka.com/" target="_blank" style="color: grey">
            Всё для раннего  развития  ребёнка - занимательная математика для дошкольников, полезные  статьи
            для  родителей, пазлы ,головоломки, игры для подготовки к школе, развивающие видео - уроки
        </a>
    </p>
    <p class="Maindiv"><img src="/TextPictures/KidsPageBot11.png"></p>

</div>