@{
    Layout = "_Layout";
}
<div id="AllContentStyle">
    <p class="Maindiv"><img src="/TextPictures/HelpP7Top.jpg"></p>
    <p class="Maindiv"><b>В помощь педагогам</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/«Мямлики»  или гипоактивные дети».doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>«Мямлики»  или</div>
        <div>гипоактивные дети».doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/«Мямлики»  или гипоактивные дети».doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Взаимодействие  педагога  с  агрессивными детьми.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Взаимодействие  педагога </div>
        <div>с агрессивными детьми.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Взаимодействие  педагога  с  агрессивными детьми.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Изучение воспитателем индивидуально - типологических особенностей  детей - залог полноценного  развития  ребёнка.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Изучение воспитателем</div>
        <div>особенностей детей.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Изучение воспитателем индивидуально - типологических особенностей  детей - залог полноценного  развития  ребёнка.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Организация  предметно – развивающей среды   в ДОУ  в условиях  ФГТ..doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Организация  предметно – развивающей</div>
        <div>среды   в ДОУ  в условиях ФГТ.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Организация  предметно – развивающей среды   в ДОУ  в условиях  ФГТ..doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Особенности  взаимодействия  педагога  с гиперактивными детьми.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Организация  предметно – развивающей</div>
        <div>среды   в ДОУ  в условиях ФГТ.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Особенности  взаимодействия  педагога  с гиперактивными детьми.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Психологические  притчи.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Психологические</div>
        <div> притчи.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Психологические  притчи.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Психологические особенности детей дошкольного  возраста.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Психологические  особенности детей </div>
        <div>дошкольного возраста.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Психологические особенности детей дошкольного  возраста.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Создание психологического комфорта в группах детского сада.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Создание психологического</div>
        <div> комфорта в группах детского сада.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Создание психологического комфорта в группах детского сада.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Тревожный ребёнок и как ему помочь.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тревожный ребёнок</div>
        <div> и как ему помочь.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Тревожный ребёнок и как ему помочь.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/В помощь педагогам/Шпаргалки  для воспитателей.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Шпаргалки  для</div>
        <div> воспитателей.doc</div>
        <div>
            <a href="/TextDocuments/В помощь педагогам/Шпаргалки  для воспитателей.doc" download>
                download
            </a>
        </div>
    </div>
    <p class="Maindiv"><img src="/TextPictures/HelpP7Bot.gif"><p>
    <p class="Maindiv"><b>Видео для релаксации</b></p>
    <p class="ComtentText">
        Вашему вниманию предлагаю ознакомится с интересной подборкой видео о нашей
        Вселенной. Вы сможете погрузится в мир релакса, спокойствия и незабываемых положительных эмоций.
        Приятного просмотра.
    </p>
    <p class="Maindiv"><a href="https://www.youtube.com/embed/X_fx3IHTYls" target="_blank"> Музыка для души</a></p>

    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/X_fx3IHTYls" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="Maindiv"><a href="https://www.youtube.com/embed/Qk3gdo93tg0" target="_blank"> "Релаксация "Красота  леса"</a></p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/Qk3gdo93tg0" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; e
	ncrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="Maindiv"><a href="https://www.youtube.com/embed/EtK7497LWgU" target="_blank"> "Подводный мир"</a></p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/EtK7497LWgU" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="Maindiv"><a href="https://www.youtube.com/embed/_5htSfmDJZc" target="_blank"> "Осенние зарисовки"</a></p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/_5htSfmDJZc" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="Maindiv"><a href="https://www.youtube.com/embed/WkaDnO5ho-4" target="_blank"> "Шопен -релаксация"</a></p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/WkaDnO5ho-4" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="Maindiv"><a href="https://www.youtube.com/embed/oUmqsetmQyw" target="_blank"> "Музыка для снятия стресса"</a></p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/oUmqsetmQyw" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="ComtentText">
        <b>Аффирмация</b> – это положительные утверждения,
        дающие настрой на счастье, успех и внутреннюю гармонию, содержащие
        определенную словесную формулу, которая при многократном повторении
        закрепляет в подсознании человека требуемый образ или установку,
        способствуя улучшению  психоэмоционального фона и стимулируя положительные
        перемены в жизни.
        Аффирмации – действенный метод  самосовершенствования, доступный каждому
        человеку без исключения.  Работайте с аффирмациями по крайней мере
        десять минут в день, повторяя  их вслух или про себя, и вы лично убедитесь
        в их пользе. Слушайте прекрасную музыку и наслаждайся своей уникальностью.
    </p>

    <p class="Maindiv"><a href="https://www.youtube.com/embed/OeOpfYIi64A" target="_blank"> Аффирмация: "О себе  с любовью!"</a></p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/OeOpfYIi64A" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="Maindiv"><a href="https://www.youtube.com/embed/roRdDPc6N0E" target="_blank"> Позитивный  настрой на каждый  день</a></p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/roRdDPc6N0E" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
    <p class="Maindiv"> <a href="https://www.youtube.com/embed/xJK6KqADldY" target="_blank"> Аффирмация: "О женской красоте"</a></p>
    <p class="Maindiv">
        <iframe width="560" height="315"
                src="https://www.youtube.com/embed/xJK6KqADldY" frameborder="0" allow="accelerometer; autoplay;
	clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
    </p>
</div>