@{
    Layout = "_Layout";
}

<div id="AllContentStyle">
    <p class="Maindiv"><img src="/TextPictures/DiagnosticTop.jpg"></p>
    <p class="Maindiv"><b>Диагностический инструментарий для работы с детьми</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Диагностическая  методика - Секрет.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Диагностическая</div>
        <div> методика - Секрет.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Диагностическая  методика - Секрет.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Исследование тревожности ребенка дошкольного возраста.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Исследование</div>
        <div> тревожности ребенка.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Исследование тревожности ребенка дошкольного возраста.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Методика  Два  дома.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Методика</div>
        <div>Два дома.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Методика  Два  дома.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Методика  исследования мотивации учения у старших  дошкольников.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Мотивация</div>
        <div>Старших дошкольников.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Методика  исследования мотивации учения у старших  дошкольников.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Методика  Я - в детском  саду.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Я в детском</div>
        <div>саду.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Методика  Я - в детском  саду.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Методики  определения самооценки  дошкольника.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Методика определения</div>
        <div>самооценки дошкольника.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Методики  определения самооценки  дошкольника.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Проективная методика  Кактус.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Проектная методика</div>
        <div>кактус.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Проективная методика  Кактус.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Тест - Несуществующее  животное.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест</div>
        <div>Несуществующее животное.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Тест - Несуществующее  животное.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Тест-  Рисунок  семьи.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест</div>
        <div>Рисунок семьи.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Тест-  Рисунок  семьи.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Тест - Страхи в домиках.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест</div>
        <div>Страхи в домиках.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для детей/Тест - Страхи в домиках.doc" download>
                download
            </a>
        </div>
    </div>
    <p class="Maindiv"><b>Диагностический инструментарий для работы с пелагогами</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Готовность  педагога  к инновационной деятельности.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Готовность  педагога  к </div>
        <div>инновационной деятельности.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Готовность  педагога  к инновационной деятельности.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Методика диагностики уровня Эмоционального выгорания В. В. Бойко..doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Методика диагностики </div>
        <div>эмоционального выгорания.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Методика диагностики уровня Эмоционального выгорания В. В. Бойко..doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Оценка  коммуникативной компетентности педагога в общении с родителями воспитанников.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Оценка коммуникативной </div>
        <div>компетентности педагога.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Оценка  коммуникативной компетентности педагога в общении с родителями воспитанников.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Оценка психологического климата в коллективе.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Оценка климата</div>
        <div>в коллективе.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Оценка психологического климата в коллективе.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Педагогический такт.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Педагогический</div>
        <div>такт.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Педагогический такт.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Способность педагога  к эмпатии.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Способность</div>
        <div>педагога  к эмпатии.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Способность педагога  к эмпатии.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Способность педагога к творческому саморазвитию.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Способность педагога</div>
        <div> к творчеству.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Способность педагога к творческому саморазвитию.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Тест - Ваш  творческий  потенциал.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест - Ваш</div>
        <div>творческий  потенциал.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Тест - Ваш  творческий  потенциал.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Тест -Какой  я педагог.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест -Какой </div>
        <div>я педагог.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Тест -Какой  я педагог.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Экспресс -  диагностика  изучения психологического  климата в коллективе.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Экспресс -  диагностика</div>
        <div>изучения климата.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностическа для педагогов/Экспресс -  диагностика  изучения психологического  климата в коллективе.doc" download>
                download
            </a>
        </div>
    </div>
    <p class="Maindiv"><b>Диагностический инструментарий для работы с родителями</b></p>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест - Какой  у вас  стиль  общения и воспитания.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест-стиль</div>
        <div>общения и воспитания.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест - Какой  у вас  стиль  общения и воспитания.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест - Правильно ли вы воспитываете своего  ребёнка.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест-правильно ли</div>
        <div>воспитываете ребенка?.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест - Правильно ли вы воспитываете своего  ребёнка.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест  Сказка.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест</div>
        <div> Сказка.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест  Сказка.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест - Я и мой ребёнок.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест-Я</div>
        <div> и мой ребёнок.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест - Я и мой ребёнок.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест -Какая  вы  мама.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест -Какая</div>
        <div> вы  мама.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест -Какая  вы  мама.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест -Какой  вы  папа.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест -Какой</div>
        <div>вы  папа.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест -Какой  вы  папа.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест -Умеете ли вы воспитывать детей.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест -умеете ли вы</div>
        <div>воспитывать детей.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест -Умеете ли вы воспитывать детей.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест Хорошие ли вы родители.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест Хорошие ли</div>
        <div>вы родители.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест Хорошие ли вы родители.doc" download>
                download
            </a>
        </div>
    </div>
    <div class="divMainDoc">
        <div class="divSrcDocumentRef">
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест-опросник родительского отношения А.Я.Варга, В.В.Столин.doc" download>
                <img src="/TextPictures/IconDoc.png">
            </a>
        </div>
        <div>Тест-опросник</div>
        <div> родительского отношения.doc</div>
        <div>
            <a href="/TextDocuments/Диагностический инструментарий/Диагностика для родителей/Тест-опросник родительского отношения А.Я.Варга, В.В.Столин.doc" download>
                download
            </a>
        </div>
    </div>
    <p class="Maindiv"><img src="/TextPictures/DiagnosticBot.png"></p>
</div>

