@{ 
    Layout = "_Layout";
}
   
        <div id="AllContentStyle">
            <p class="Maindiv"><img src="/TextPictures/MethodTop.jpg"></p>
            <p class="Maindiv"><b>Материалы для работы с детьми</b></p>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая Копилка/Для детей/В гостях у песочной Феи.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>В гостях</div>
                <div>у феи.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/В гостях у песочной Феи.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Вместе — дружные ребята.docx" download><img src="/TextPictures/IconDoc.png"></a>
                </div>
                <div>Вместе-</div>
                <div>дружные ребята.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Вместе — дружные ребята.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Дружные  ребята.docx" download><img src="/TextPictures/IconDoc.png"></a>
                </div>
                <div>Дружные</div>
                <div>ребята.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Дружные  ребята.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Коммуникативный  тренинг - Если бы я был волшебником.docx" download>															<img src="/TextPictures/IconDoc.png"></a>
                </div>
                <div>Коммуникативный трейнинг </div>
                <div>если бы я был.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Коммуникативный  тренинг - Если бы я был волшебником.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Мы поссоримся и помиримся.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Мы поссоримся </div>
                <div>и помиримся.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Мы поссоримся и помиримся.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Победитель злости.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Победитель </div>
                <div>злости.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Победитель злости.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Путешествие в осенний  лес.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Путешествие </div>
                <div>в осенний лес.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Путешествие в осенний  лес.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Путешествие в страну Чувств.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Путешествие </div>
                <div>в страну чувств.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Путешествие в страну Чувств.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Путешествие Золотой рыбки.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Путешествие </div>
                <div>Золотой рыбки.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Путешествие Золотой рыбки.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Путешествие с Почемучкой.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Путешествие </div>
                <div>с почемучкой.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Путешествие с Почемучкой.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Сказочная страна.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Сказочная</div>
                <div>страна.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Сказочная страна.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для детей/Что такое доброта.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Что такое</div>
                <div>оброта.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для детей/Что такое доброта.doc" download>
                        download
                    </a>
                </div>
            </div>
            <p class="Maindiv"><b>Материалы для работы с педагогами</b></p>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Конструктивное поведение в конфликте.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Конструктивное поведение</div>
                <div>в конфликте.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Конструктивное поведение в конфликте.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Круглый  стол - Психологическая  готовность к обучению  в школе.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Круглый  стол - </div>
                <div>Психологическая  готовность к обучению.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Круглый  стол - Психологическая  готовность к обучению  в школе.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар - практикум - Развитие творческого потенциала педагога.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>педагогов.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар - практикум - Развитие творческого потенциала педагога.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар - практикум  Создание психологического комфорта в группах детского сада..doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Создание комфорта.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар - практикум  Создание психологического комфорта в группах детского сада..doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар - практикум Наказывая,  подумай зачем.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Наказывая подумай.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар - практикум Наказывая,  подумай зачем.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар - практикум Секреты хорошей дисциплины.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Секреты дисциплины.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар - практикум Секреты хорошей дисциплины.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар с элементами тренинга - Как предупредить и преодолеть нарушения в эмоциональном развитии детей.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Как предупредить нарушения.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар с элементами тренинга - Как предупредить и преодолеть нарушения в эмоциональном развитии детей.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар -Техники установления позитивных отношений с родителями и детьми. Развитие коммуникативных навыков.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-Техники</div>
                <div>Установление позитивных отношений.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Семинар -Техники установления позитивных отношений с родителями и детьми. Развитие коммуникативных навыков.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Тренинг - Как жить полной жизнью и «не сгореть» на работе.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Трейнинг</div>
                <div>Как не сгореть на работа.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Тренинг - Как жить полной жизнью и «не сгореть» на работе.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Тренинг  на сплочение  педагогического коллектива.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Трейнинг</div>
                <div>Сплочение коллектива.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Тренинг  на сплочение  педагогического коллектива.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Тренинг личностного роста для педагогов.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Трейнинг</div>
                <div>Личностного роста педагогов.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для педагогов/Тренинг личностного роста для педагогов.doc" download>
                        download
                    </a>
                </div>
            </div>
            <p class="Maindiv"><b>Материалы для работы с родителями</b></p>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Консультация - Гендерное воспитание ребенка в семье.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Гендерное</div>
                <div>воспитание ребенка.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Консультация - Гендерное воспитание ребенка в семье.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Круглый  стол- Капризы и упрямства детей дошкольного возраста.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Круглый стол</div>
                <div>Капризы рдетей.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Круглый  стол- Капризы и упрямства детей дошкольного возраста.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Семинар - Адаптация детей раннего возраста  к условиям ДОУ.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар</div>
                <div>Адаптация детей.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Семинар - Адаптация детей раннего возраста  к условиям ДОУ.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Семинар - практикум - Я и ребёнок — поиски взаимопонимания.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар-практикум</div>
                <div>Я и ребенок.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Семинар - практикум - Я и ребёнок — поиски взаимопонимания.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Семинар -Кризис 3 лет.docx" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Семинар</div>
                <div>Кризис 3 лет.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Семинар -Кризис 3 лет.docx" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Собрание - Искусство наказывать и прощать.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Собрание-Искусство</div>
                <div>наказывать и прощать.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Собрание - Искусство наказывать и прощать.doc" download>
                        download
                    </a>
                </div>
            </div>
            <div class="divMainDoc">
                <div class="divSrcDocumentRef">
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Собрание -Психологическая готовность к обучению  в школе.doc" download>
                        <img src="/TextPictures/IconDoc.png">
                    </a>
                </div>
                <div>Собрание-готовность</div>
                <div>к школе.doc</div>
                <div>
                    <a href="/TextDocuments/Методическая копилка/Для родителей/Собрание -Психологическая готовность к обучению  в школе.doc" download>
                        download
                    </a>
                </div>
            </div>
            <p class="Maindiv"><img src="/TextPictures/MethodBot.Gif"></p>
        </div>
